<ion-view view-title="Ionic angular-google-maps Example">
  <ion-content class="padding">

    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
      <ui-gmap-markers models="markers" coords="'location'" click="showInfo"></ui-gmap-markers>

      <ui-gmap-window coords="infoBusiness.location" show="infoVisible" closeClick="hideInfo()"
                      options="windowOptions">
        <div>
          <a target="_blank" href="{{infoBusiness.url}}">{{infoBusiness.name}}</a>
        </div>
      </ui-gmap-window>

    </ui-gmap-google-map>

    <p>
      Created by Jessamyn Smith
      <br>
      <a href="https://github.com/jessamynsmith/ionic-angular-google-maps-example">View the source
        on
        GitHub</a>
    </p>

  </ion-content>
</ion-view>
