<ion-view view-title="Ionic angular-google-maps Example">
  <ion-content class="padding">

    <form id="id_search_form">
      <input type="text" ng-model="params.term" placeholder="Enter a search term"></input>
      <button ng-click="search()">Search</button>
    </form>

    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        
        <ui-gmap-markers models="markers" coords="'location'" icon="'icon'" click="onClick">
            <ui-gmap-windows show="show">
                <div ng-non-bindable>
                  <a target="_blank" href="{{url}}">{{name}}</a>
                </div>
            </ui-gmap-windows>
        </ui-gmap-markers>

    </ui-gmap-google-map>

    <p>
      Created by Jessamyn Smith
      <br>
      <a href="https://github.com/jessamynsmith/ionic-angular-google-maps-example">View the source
        on
        GitHub</a>
    </p>

  </ion-content>
</ion-view>
